/*

https://coolors.co/c3cdd1-4d708e-88a5bf-e2f2ff-ffffff-ee6352

#c3cdd1 // silver
#4D708E // paynes grey, dark blue
#88A5BF // air superiority blue
#E2F2FF // alice blue
#ffffff // white
#EE6352 // bittersweet orange

*/
* {
    font-family: "Lato", "Open Sans", "Microsoft Yahei", STXihei, "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", Meiryo, "Geneva CY", "Lucida Grande", "Arial Unicode MS", "Helvetica Neue", "Arial", Sans-Serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 2px;
}

html
{
    scrollbar-width: thin;
    scrollbar-color: #9fb5c9 #4d708e;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-image: linear-gradient(180deg, #88a5bf, #f4f0f0)*/;
    background-repeat: no-repeat;
    /*background-color: #f4f0f0;*/
    




    background-image: url(""),linear-gradient(180deg, #88a5bf, #f4f0f0);
    background-color: #88a5bf;
    background-attachment: fixed;
    background-repeat: repeat;

}

body
{
    /*
    background-image: url(/images/water.png);
    background-size: contain;
    background-repeat: repeat-y;*/
}







::-webkit-scrollbar-track {
background: transparent;
}


html,
body,
#root {
    width: 100%;
    min-height: 100%;
    height:auto;
    margin: 0;
    padding: 0;
    
}
svg {
    margin: 10px;
    cursor: pointer;
}
svg:hover {
    fill: #ee6352;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#body-wrapper {
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-wrapper {
    width: 100%;
    height: 60px;
    background-color: #4d708e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 !important;
    opacity: .90;
}
#input-wrapper {
    width: calc(100% - 20px);
    height: 50px;
    background-color: #4d708e;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: .90;
}
.todo-card {
    width: calc(100% - 20px);
    height: auto;
    min-height: 50px;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 2px;
}
#header-left,
#header-right {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-center {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 300;
    padding-left: 10px;
    white-space: nowrap;
}
#input-left {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input-right {
    width: 100%;
    height: 100%;
}
#add-todo-input {
    width: calc(100% - 20px);
    height: 50px;
    border: 0;
    margin: 0;
    border-radius: 2px;
    padding: 0 0 0 10px;
    background-color: transparent;
    color: #fff;
}
::placeholder {
    color: #4D708E;
    opacity: 1;
}
::-ms-input-placeholder {
    color: #4D708E;
}


#add-todo-input::placeholder {
    color: #ffffff;
    opacity: 1;
}
#add-todo-input::-ms-input-placeholder {
    color: #ffffff;
}


#input-right
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.todo-card {
    width: calc(100% - 20px);
    height: auto;
    min-height: 50px;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    opacity: .90;
}
#todo-card-left,
#todo-card-right {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#todo-card-center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}
#menu-lists-wrapper,
#menu-options-wrapper {
    width: 75%;
    max-width: 600px;
    min-width: 300px;

    min-height: 600px;
    max-height: calc(100vh - 10px);

    background-image: linear-gradient(180deg, #88a5bf, #f4f0f0);
    position: fixed;
    /*border-radius: 0 0 2px 2px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 7px 3px #00000038;
    padding-bottom: 10px;

    transition: opacity .5s ease;
    visibility: hidden;
    opacity: 0;
}
#menu-options-wrapper {
    width: 600px;
    height: 600px;
    background-image: linear-gradient(180deg, #88a5bf, #f4f0f0);
    position: fixed;
    /*border-radius: 0 0 2px 2px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -4px 4px 7px 3px #00000038;
}
#menu-list-header,
#menu-options-header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #4d708e;
    color: #fff;
    margin-bottom: 10px;
}
#list-card {
    height: auto;
    min-height: 50px;
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}
#menu-list-header-left,
#menu-list-header-right,
#menu-options-header-left,
#menu-options-header-right {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-list-header-center,
#menu-options-header-center {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 300;
    padding-left: 10px;
    white-space: nowrap;
    justify-content: center;
}
#list-card-left,
#list-card-right {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#list-card-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.todo-card:hover,
.list-card:hover,
.option-card:hover,
.option-card-install:hover {
    background-color: #e2f2ff !important;
}
#option-card {
    width: calc(100% - 20px);
    height: auto;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 2px;
}
#option-card-install {
    width: calc(100% - 20px);
    height: auto;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-bottom: 2px;
    border-radius: 2px;
}
#option-card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
}
#option-card-right {
    /*height: 100%;*/
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
#front-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
#installButton {
    /*display: none;*/
}
.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4d708e;
    xbackground-image: linear-gradient(180deg, #4d708e, #000000);
    height: 50px;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.nav-cell {
    display: flex;
    color: #fff;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#top-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.login-bar-alert {
    background-color: #e8e8e8;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #c0c0c0;
    color: #747474;
    display: none;
    flex-direction: row;
    align-items: center;
}
#login-bar-title {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-weight: 700;
    color: #4D708E;
}
#canndo-text {
    margin-left: 4px;
}
#minlist-logo {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    fill: #4D708E;
}
.title-cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#span-title-id {
    font-size: 24px;
    font-weight: 300;
    padding-left: 5px;
    white-space: nowrap;
}
#nav-cell-lists,
#nav-cell-options {
    cursor: pointer;
}
#logo {
    margin-top: 60px;
}

#alert_register,
#alert_login {
    height: 50px !important;
    transition: all 0.5s ease;
    color: #ef6461;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input,
button {
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    outline: none !important;
}
button:hover,
button:active,
button:focus {
    outline: none !important;
}
input {
    margin: 0;
    border-radius: 2px;
    background-color: #beccd3;
    color: #606060;
    padding: 0 0 0 5px;
    border: 1px solid #949fa5;
}
input,
label {
    height: 28px !important;
    transition: all 0.5s ease;
}
label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #4D708E;
}
.login-bar-alert a {
    color: #576f95;
}
.login-bar {
    background-color: #fff;
    width: 100%;
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px 1px #00000038;
}
.login-bar-alert-cell {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#close-alert {
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex
;
}
#alert-text {
    width: calc(100% - 45px);
    margin: 10px;
}
#close-alert-svg {
    cursor: pointer;
}
#close-alert-svg:hover {
    fill: #EE6352;
}
#logo2 {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
}
#login-bar-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
#login-bar-logo a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#login-bar-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
#login-bar-buttons button {
    margin-left: 0;
}
#sign-in {
    height: 40px;
    background-color: #fbfcfd;
    border: none;
    color: #777;
    padding: 7px 11px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #adadad;
    white-space: nowrap;
}
#sign-in:hover {
    background-color: #f1f1f1;
}
#get-started,
#joof-button,
button {
    height: 40px;
    background-color: #4D708E;
    border: none;
    color: #fff;
    padding: 7px 11px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #104e66;
    white-space: nowrap;
}

#logo3 {
    height: 28px;
}
#logo_big_front {
    height: 80px;
    margin-left: 20px;
}
#login-wrapper,
#register-wrapper,
.login-register-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    min-height: 75vh;
}
#big-logo-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
#login-wrapper-inside,
#register-wrapper-inside {
    background-color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 4px 4px 7px 3px #00000038;
    margin-top: 100px;
}
#form_login,
#form_register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
#login_submit,
#register_submit {
    margin: 0;
}
.opacity0 {
    opacity: 0;
    position: relative;
    top: 29px;
    left: 6px;
}
#login-register-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.top-bar-cell-left {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar-cell-right {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D708E;
}
.top-bar-cell-right a {
    color: #4D708E;
}
button {
    cursor: pointer;
}

button:hover
{
    background-color: #EE6352 !important;
    border: 1px solid #C3CDD1 !important;
    color: white !important;
}

#login-bar-text
{
    margin-right:10px
}

#minlist-logo-big
{
    margin: 0;
    margin-left:6px;
    fill:#4D708E;
    width: 80px;
    height: 80px;
}

a:hover
{
    color: #EE6352;
    
}

#minlist-logo:hover,
#minlist-logo-big:hover
{
    fill: #EE6352;
}

#button-logout-wrapper
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

#task-modal-wrapper
{
    /*transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;*/
    z-index: 99999;
    /*visibility: hidden;
    opacity: 0;*/
}

.modal-window
{
    /*transition: all 0.5s ease-in-out;*/
}

#task-modal-title-text,
#task-modal-list-text,
#user-modal-username-text,
#user-modal-email-text,
#user-modal-new-text,
#user-modal-confirm-text,
#user-modal-current-text
{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;

    flex: 1;


    height: 28px !important;
    min-height: 28px !important;



    padding: 0;

    background-color: #beccd3;
    color: #606060;
    padding-left: 5px;
    border: 1px solid #949fa5;
    min-width: 0;

}
#task-modal-details-text
{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;

    width: 100% !important;
    zmin-width: 100% !important;


    height: auto !important;
    min-height: 28px !important;



    padding: 0;

    background-color: #beccd3;
    color: #606060;
    padding-left: 5px;
    border: 1px solid #949fa5;

    margin-top: 12px;
    margin-bottom: 12px;
}

#task-modal-list-text
{
  
    margin-left: 8px;
}

.modal-title-cell
{
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
}


.details-text-custom,
.task-row-custom
{
    height: auto !important;
}

.details-text-custom
{
    padding: 5px;
}

textarea,
select
{
    outline: none;
}

#list-modal-wrapper
{
    /*transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;*/
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper
{
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0deg 0% 0% / 75%);
    
    transition: opacity .5s ease;
    visibility: hidden;
    opacity: 0;
}

.modal-window
{
    /*transition: all 0.5s ease-in-out;*/
    width: calc(100vw / 2);
    min-height: calc(100vh / 2);
    height: auto;
    min-width: 350px;
    /*min-height: 400px;*/
    max-width: 600px;
    /*background-color: white;*/
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #88A5BF, #F4F0F0);



}



.modal-header
{
    height: 50px;
    background-color: #4d708e;
    overflow: hidden;
    border-radius: 2px 2px 0 0;

    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 15px;
}

.modal-title
{
    font-size: 24px;
    font-weight: 300;
    white-space: nowrap;
    color: white;
}


.modal-body
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-footer
{
    height: 50px;
    /*background-color: #4d708e;*/
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-nav
{
    width: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-close-icon
{
    cursor: pointer;
}

#modal-close-icon:hover,
.modal-nav:hover > svg
{
    fill: #EF6461 !important;
}

#modal-save-button
{
    margin: 0px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#modal-delete-button
{
    background-color: #EF6461;
    border: 0;
    margin: 0px;
    margin-bottom: 15px;
    margin-left: 15px;
}

#modal-delete-button:hover
{
    background-color: red;;
}

.option-row
{
    height: 50px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin-bottom: 2px;
}

.modal-text
{
    width: 100%;
    margin-right: 10px;
    border-radius: 0;
}

#list-modal-title
{
    margin-left: 15px;
    margin-right: 15px;
}

#menu-outer
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    
}

#list-card-count
{
    color: grey;
}

#title-small
{
    height: auto;
    max-height: 32px;
    margin-left: 0px;
    margin-right: 0px;
}

#title-small g
{
    fill: #4D708E;
}

#title-small g:hover
{
    fill: #EE6352;
}

#login-bar-logo:hover svg g,
#login-bar-logo:hover svg
{
    fill: #EE6352;
}

#menu-list-cards
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: thin;
    align-items: center;
    scrollbar-color: #4d708e transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

#sign-in
{
    margin-left: 10px !important;
}

@media (max-width: 350px) 
{
    #title-small
    {
        display: none;
    }
    #register-wrapper-inside,
    #login-wrapper-inside
    {
        width: 100%;
    }
}

@media (max-width: 420px) 
{
    #title-small
    {
        xheight:18px;
    }
}

@media (max-width: 400px) 
{
    .modal-window
    {
        width: 100%;
        min-width:unset;
    }




}

#installButton,
#button-logout,
#button-edit,
#button-delete
{
    margin: 0;
    min-width: 75px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#option-button-right {
    display: flex;
    height: 100%;
    xwidth: 50px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

#background-select
{
    border: 2px solid grey;
    border-radius: 4px;
    color: grey;
    text-shadow: none;
}

#background-select:hover
{
    border-color: #EE6352;

}

#todos-outer
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#intro-wrapper
{
    width: 100%;
    height: auto;
    display: flex;
    
    
    flex-direction: column;
}


#intro
{
    padding-top: 30px;
    width: 100%;
    xheight: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    color: #4d708e;
    background-image: linear-gradient(220deg,rgb(136, 165, 191), rgb(244, 240, 240));
}

#phones
{
    width: 460px;
    height: 415px;
    position: relative;
    bottom: -10px;
}

#intro-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-right
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#tag-line
{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -2px;

    padding-bottom: 0;
}

#some-text
{
    text-align: justify;
    padding: 30px;
}

#intro-button
{
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) 
{
    #intro
    {
        flex-direction: column;
    }
    #intro-left
    {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #intro-button
    {
        margin-bottom: 30px;
    }
}

@media (max-width: 650px) 
{

    #tag-line
    {
        font-size: 32px;
    }

}



#intro-button
{
}

#more-intro
{
    width: calc(100% - 60px);
    border: 1px solid #e8e8e8;
    min-height: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;


    font-size: 32px;
    line-height: 58px;
    font-weight: 200;
    letter-spacing: -1px;

    color: #4d708e;
    white-space: nowrap;
    box-shadow: 0 2px 10px 1px #00000038, 0 -2px 10px 1px #00000038;
    z-index: 99;
    align-items: center;
}


@media (max-width: 550px) 
{
    #intro-left
    {
        width: 100%;
    }
    #phones
    {
        width: 300px;
        height: 271px;
        position: relative;
        bottom: -5px;
    }
    #more-intro
    {
        font-size: 24px;

    }


}

.g-signin2
{
    width: 100px;
    height: 20px;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: 245px;
    border: 1px solid grey;
    margin: 0px;
    color:grey;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: left;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
  }
  
  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  

  #user-modal-reset
  {

    margin-left: 20px;
    white-space: nowrap;
  }

  .reset-row
  {
    justify-content: space-between;
  }

#pass-reset-right,
#pass-reset-left
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-row:hover
{
    background-color: #e2f2ff !important;
}

#reset-form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-output
{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #EE6352;
    min-height: 40px;
}

.reset-eye
{
    width: 28px;
    height: 28px;
}

#user-modal-new-text,
#user-modal-confirm-text
{
    margin-right: 10px;
}

#eye-new-outer,
#eye-confirm-outer
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2px;
}

.speech-bubble {
	position: relative;
    height: auto;
    min-height: 100px;
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    margin-top: 20px;


}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	right: 20px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	border-right: 0;
	margin-left: -10px;
	margin-top: -20px;
}

#logo-link
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#eye-wrapper
{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex: 1;
    min-width: 0;
}

.reset-eye-2
{
    margin: 0;
    justify-content: flex-end;
}

#intro-three
{
    background-image: linear-gradient(220deg, rgb(136, 165, 191), rgb(244, 240, 240));
    width: 100%;
    display: flex;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#all-platforms
{
    width: 100%;
    height: auto;

    max-width: 1016px;
    xheight: 539px;

    margin-top: 35px;
    margin-bottom: 35px;
}

#home-footer
{
    min-height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 -2px 10px 1px #00000038;
    flex-direction: column;
}

#home-footer a {
    color: #4d708e;
    font-weight: bold;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

#footer-top,
#footer-bottom
{
    min-height:30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

hr
{
    border: 1px solid #0000000f;
    border-top: 0;
    width: 80%;
    z-index: 9999999;
}

#footer-bottom
{
    color: #4d708e;
    font-weight: bold;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

#joof
{
    position: fixed;
    background-color: #ffbbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url(""),linear-gradient(180deg, #88a5bf, #f4f0f0);
    background-color: #88a5bf;
    background-attachment: fixed;
    background-repeat: repeat;
}

#about-content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo-link-about
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#copyright,
#copyright a
{
    text-decoration: none;
    color: black;
    font-size: 12px;
}